In [1]:
import pandas as pd
import dask.dataframe as dd

In [4]:
lazy_df = dd.read_parquet("/Users/vaibhavsourirajan/Documents/COLUMBIA/Senior/WattCast/2024-12.parquet")
lazy_df.head()

,dataset_id,dno_alias,aggregated_device_count_active,total_consumption_active_import,data_collection_log_timestamp,geometry,secondary_substation_unique_id,lv_feeder_unique_id
0,NGED_110139_11_Dec_2024,NGED,18.0,2107.0,2024-12-01 00:00:00+00:00,"{'x': -2.5999, 'y': 51.4924}",NGED-110139,NGED-110139-11
1,NGED_110139_12_Dec_2024,NGED,8.0,1113.0,2024-12-01 00:00:00+00:00,"{'x': -2.5999, 'y': 51.4924}",NGED-110139,NGED-110139-12
2,NGED_110139_21_Dec_2024,NGED,17.0,2471.0,2024-12-01 00:00:00+00:00,"{'x': -2.5999, 'y': 51.4924}",NGED-110139,NGED-110139-21
3,NGED_110139_23_Dec_2024,NGED,8.0,575.0,2024-12-01 00:00:00+00:00,"{'x': -2.5999, 'y': 51.4924}",NGED-110139,NGED-110139-23
4,NGED_110139_25_Dec_2024,NGED,31.0,3881.0,2024-12-01 00:00:00+00:00,"{'x': -2.5999, 'y': 51.4924}",NGED-110139,NGED-110139-25

In [3]:
london_bbox = (-0.6, 51.2, 0.4, 51.8)
london_df = dd.read_parquet("/Users/vaibhavsourirajan/Documents/COLUMBIA/Senior/WattCast/2024-12.parquet", bbox=london_bbox)
print("Total dataset size: ", len(london_df))
print("Number of unique feeders: ", len(london_df["lv_feeder_unique_id"].unique()))

london_df.head()

Total dataset size:  180401876
Number of unique feeders:  122583

,dataset_id,dno_alias,aggregated_device_count_active,total_consumption_active_import,data_collection_log_timestamp,geometry,secondary_substation_unique_id,lv_feeder_unique_id
0,NGED_110139_11_Dec_2024,NGED,18.0,2107.0,2024-12-01 00:00:00+00:00,"{'x': -2.5999, 'y': 51.4924}",NGED-110139,NGED-110139-11
1,NGED_110139_12_Dec_2024,NGED,8.0,1113.0,2024-12-01 00:00:00+00:00,"{'x': -2.5999, 'y': 51.4924}",NGED-110139,NGED-110139-12
2,NGED_110139_21_Dec_2024,NGED,17.0,2471.0,2024-12-01 00:00:00+00:00,"{'x': -2.5999, 'y': 51.4924}",NGED-110139,NGED-110139-21
3,NGED_110139_23_Dec_2024,NGED,8.0,575.0,2024-12-01 00:00:00+00:00,"{'x': -2.5999, 'y': 51.4924}",NGED-110139,NGED-110139-23
4,NGED_110139_25_Dec_2024,NGED,31.0,3881.0,2024-12-01 00:00:00+00:00,"{'x': -2.5999, 'y': 51.4924}",NGED-110139,NGED-110139-25