In [2]:
import pandas as pd
import dask.dataframe as dd

In [3]:
lazy_df = dd.read_parquet("/Users/vaibhavsourirajan/Documents/COLUMBIA/Senior/WattCast/2024-12.parquet")
lazy_df.head()

,dataset_id,dno_alias,aggregated_device_count_active,total_consumption_active_import,data_collection_log_timestamp,geometry,secondary_substation_unique_id,lv_feeder_unique_id
0,NGED_110139_11_Dec_2024,NGED,18.0,2107.0,2024-12-01 00:00:00+00:00,"{'x': -2.5999, 'y': 51.4924}",NGED-110139,NGED-110139-11
1,NGED_110139_12_Dec_2024,NGED,8.0,1113.0,2024-12-01 00:00:00+00:00,"{'x': -2.5999, 'y': 51.4924}",NGED-110139,NGED-110139-12
2,NGED_110139_21_Dec_2024,NGED,17.0,2471.0,2024-12-01 00:00:00+00:00,"{'x': -2.5999, 'y': 51.4924}",NGED-110139,NGED-110139-21
3,NGED_110139_23_Dec_2024,NGED,8.0,575.0,2024-12-01 00:00:00+00:00,"{'x': -2.5999, 'y': 51.4924}",NGED-110139,NGED-110139-23
4,NGED_110139_25_Dec_2024,NGED,31.0,3881.0,2024-12-01 00:00:00+00:00,"{'x': -2.5999, 'y': 51.4924}",NGED-110139,NGED-110139-25

In [4]:
london_bbox = (-0.6, 51.4, 0.4, 51.7)
london_df = dd.read_parquet("/Users/vaibhavsourirajan/Documents/COLUMBIA/Senior/WattCast/2024-12.parquet", bbox=london_bbox)
print("Total dataset size: ", len(london_df))
print("Number of unique feeders: ", len(london_df["lv_feeder_unique_id"].unique()))

london_df.head()

Total dataset size:  180401876
Number of unique feeders:  122583

,dataset_id,dno_alias,aggregated_device_count_active,total_consumption_active_import,data_collection_log_timestamp,geometry,secondary_substation_unique_id,lv_feeder_unique_id
0,NGED_110139_11_Dec_2024,NGED,18.0,2107.0,2024-12-01 00:00:00+00:00,"{'x': -2.5999, 'y': 51.4924}",NGED-110139,NGED-110139-11
1,NGED_110139_12_Dec_2024,NGED,8.0,1113.0,2024-12-01 00:00:00+00:00,"{'x': -2.5999, 'y': 51.4924}",NGED-110139,NGED-110139-12
2,NGED_110139_21_Dec_2024,NGED,17.0,2471.0,2024-12-01 00:00:00+00:00,"{'x': -2.5999, 'y': 51.4924}",NGED-110139,NGED-110139-21
3,NGED_110139_23_Dec_2024,NGED,8.0,575.0,2024-12-01 00:00:00+00:00,"{'x': -2.5999, 'y': 51.4924}",NGED-110139,NGED-110139-23
4,NGED_110139_25_Dec_2024,NGED,31.0,3881.0,2024-12-01 00:00:00+00:00,"{'x': -2.5999, 'y': 51.4924}",NGED-110139,NGED-110139-25

In [6]:
#save the dataframe to a csv file

import pyarrow as pa

schema = pa.schema([
    ('lv_feeder_unique_id', pa.string()),
    # Add other columns as needed with their appropriate types
])

# Save with explicit schema
london_df.to_parquet(
    "london_dec_2024.parquet",
    schema=schema
)

london_df.to_parquet(
    "london_dec_2024.parquet",
    schema_coerce_strings=True  # This will coerce string columns to regular strings
)

ValueError: Failed to convert partition to expected pyarrow schema:
    `ArrowTypeError("Expected bytes, got a 'dict' object", 'Conversion failed for column geometry with type object')`

Expected partition schema:
    dataset_id: large_string
    dno_alias: large_string
    aggregated_device_count_active: int64
    total_consumption_active_import: int64
    data_collection_log_timestamp: timestamp[ms, tz=UTC]
    geometry: string
    secondary_substation_unique_id: large_string
    lv_feeder_unique_id: large_string
    __null_dask_index__: int64

Received partition schema:
    dataset_id: large_string
    dno_alias: large_string
    aggregated_device_count_active: double
    total_consumption_active_import: double
    data_collection_log_timestamp: timestamp[ms, tz=UTC]
    geometry: struct<x: double, y: double>
      child 0, x: double
      child 1, y: double
    secondary_substation_unique_id: large_string
    lv_feeder_unique_id: large_string
    __null_dask_index__: int64

This error *may* be resolved by passing in schema information for
the mismatched column(s) using the `schema` keyword in `to_parquet`.